*

!.gitignore

# ytdwnld source code directory
!src/
!src/*

# build scripts
!build_windows.py
!build_macos.py

# version file
!ytdwnld_version

# git version script
!git_version.py

# repo stuff
!README.adoc
!LICENSE
!ytdwnld.png